body {
  font-family: "Segoe UI", sans-serif;
  background: #f9fafb;
  margin: 0;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #1f2937;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 1rem;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

input,
button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: none;
  transition: 0.3s;
}
button:hover {
  background: #0056b3;
}

#listaParticipantes {
  list-style: none;
  padding: 0;
}

#listaParticipantes li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-eliminar {
  background-color: #ef4444;
  padding: 4px 10px;
  font-size: 0.85rem;
  border-radius: 4px;
}

.btn-eliminar:hover {
  background-color: #dc2626;
}
